# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/
node_modules/

# Project-specific
.env
.env.*

# Editor / OS
.vscode/
.DS_Store

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / distribution
build/
dist/
*.egg-info/
